#Home {
    @include page;
}

.Home__title {
    @include pageTitle;
}

.Home__github {
    position: fixed;
    right: 0;
    top: 65px;

    @media #{$desktop_breakpoint} {
        top: 50px;
    }
}

.Home__content {
    @include innerContent;
}