.DesktopNavigationLink {
    transition: 100ms;

    &:hover {
        .DesktopNavigationLink__link {
            opacity: 1;
        }
    
        .DesktopNavigationLink__sublink_list {
            height: auto;
        }
    }
}


.DesktopNavigationLink__link {
    color: $offWhite;
    text-decoration: none;
    transition: 100ms;
    display: block;
    text-align: center;
    margin: 0 10px;
    padding: 0 10px;
    padding-top: 25px;
    height: 23px; // (height + padding) = (header height - bottom border)
    opacity: 0.6;

    &.current {
        border-bottom: 2px solid $offWhite;
        opacity: 1;
    }
}


.DesktopNavigationLink__sublink_list {
    list-style-type: none;
    overflow: hidden;
    background: $shadow;
    padding: 0;
    height: 0;
    z-index: 8;
}


.DesktopNavigationLink__sublink {
    &:not(:last-child) {
        border-bottom: 1px solid $primaryColor_light;
    }
}


.DesktopNavigationLink__sublink_link {
    color: $offWhite;
    text-decoration: none;
    display: block;
    padding: 8px;
    text-align: center;
    font-size: $sFont;
    
    &:hover {
        background: $shadow_thick;
    }
}